:root {
  --plate-radius: 25px;
}


.cup-canvas {
  display: flex;
  flex-basis: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.cup-wrapper {
  background-color: green;
  width: 100%;
  max-width: 400px;
  height: 300px;
}

.cup, .plate, .handle { background-color: black; }

.cup-container {
  display: flex;
  flex-basis: 100%;
  height: 200px;
  flex-direction: row;
  justify-content: strech;
  padding-bottom: calc(var(--plate-radius) * 0.75);
}

.column {
  flex: 1 1 auto;
}

.cup {
  flex-grow: 3;
  border-bottom-left-radius: calc(var(--plate-radius) * 2);
  border-bottom-right-radius: calc(var(--plate-radius) * 2);
}

.handle {
  display: flex;
  align-items: center;
  self-align: top;
  height: 70%;
  border-top-right-radius: calc(var(--plate-radius) * 2.5);
  border-bottom-right-radius: calc(var(--plate-radius) * 2.5);
}

.handle .hollow {
  height: 55%;
  width: 60%;
  background-color: white;
  border-top-right-radius: calc(var(--plate-radius) * 2);
  border-bottom-right-radius: calc(var(--plate-radius) * 2);
}

.plate {
  flex: 1 1 100%;
  height: 10px;
  padding: 20px;
  border-bottom-left-radius: calc(var(--plate-radius) * 1.5);
  border-bottom-right-radius: calc(var(--plate-radius) * 1.5);
}
